:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

*{
    font-family: 'Merriweather Sans', sans-serif;
    /* background-color: var(--body-bg-color); */
}

body{
    display: flex;
    height: 100vh;
    background-color: var(--body-bg-color);
    margin: 0;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .5em;
    width: 350px;
}

main{
    display: flex;
    flex-direction: column;
    margin: .5em;
    width: 100%;
}

.card{
    background-color: var(--bg-cards);
    color: var(--text-color);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 3px 2px 3px black;
    margin: 20px 5px;
}

projects{
    display: flex;
    justify-content: space-between;
}

latest{
    display: flex;
    justify-items: space-evenly;
}

#lastproject{
    width: 100%;
}

.content-grid{
    display: grid;
    background-color: aliceblue;
    grid-template-areas:
    "folder title title"
    "descr descr descr"
    "icon icon lang";
    grid-auto-columns: auto;
}

.pfolder{
    grid-area: folder;
    /* background-color: royalblue */
}

.ptitulo{
    grid-area: title;
    background-color: yellowgreen;
    display: flex;
    justify-content: left;
}

.pdescription{
    grid-area: descr;
    background-color: red;
}

.l-foot{
    display: flex;
    justify-content: flex-start;
    grid-area: icon;
    background-color: darkgoldenrod;
}

.l-foot figure{
    background-color: rebeccapurple;
    display: flex;
    margin: 5px 0;
}

.r-foot{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-area: lang;
}

profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
